<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}PhishGuard AI{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon"
    href="{{ url_for('static', filename='images/favicon.jpeg') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" width="45">
        <span>PhishGuard AI</span>
    </div>

    <div class="nav-right">

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/scan">Scan Now</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/security">Security</a>
            <a href="/cyber_safety">Cyber Safety</a>
            <a href="/cyber_law">Cyber Law</a>
            <a href="/history">History</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>

        <label class="theme-switch">

            <input type="checkbox" id="themeSwitch" onclick="toggleTheme()">

            <span class="slider">
                <span class="moon">🌙</span>
                <span class="sun">☀️</span>
            </span>

        </label>

    </div>

</nav>



<main>

{% block content %}

{% endblock %}

</main>

<footer>

<p>© 2026 PhishGuard AI | AI Powered Website Security Scanner</p>

</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>