{% extends "base.html" %}

{% block title %}
Contact | PhishGuard AI
{% endblock %}

{% block content %}

<div class="contact-container">

    <h1>📞 Contact</h1>

    <p>
        Thank you for using <strong>PhishGuard AI</strong>.
    </p>

    <br>

    <div class="contact-card">

        <h2>🛡️ Project Information</h2>

        <p><strong>Project Name:</strong> PhishGuard AI</p>

        <p><strong>Category:</strong> AI Based Phishing Website Detection</p>

        <p><strong>Technology:</strong> Python, Flask, Machine Learning, HTML, CSS, JavaScript</p>

        <p><strong>Version:</strong> 1.0</p>

    </div>

    <br>

    <div class="contact-card">

        <h2>👨‍💻 Developer</h2>

        <p><strong>2406031</strong> Sanika Birajdar </p>
        <p><strong>2406034</strong> Sakshi Bramanhankar </p>
        <p><strong>2406035</strong> Arya Chavan </p>
        <br>

        <p><strong>College:</strong> Government Polytechnic pune</p>

        <p><strong>Email:</strong> .....</p>

    </div>

    <br>

    <div class="contact-card">

        <h2>💡 Project Goal</h2>

        <p>
            PhishGuard AI helps users detect phishing, malware,
            defacement, and suspicious websites using Artificial
            Intelligence before visiting potentially harmful websites.
        </p>

    </div>

</div>

{% endblock %}